<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197959764311-5nhdfviqcerkfpihihd5fsrtrvf90c2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197959764311-5nhdfviqcerkfpihihd5fsrtrvf90c2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcX7GBkOQ6R57S65wAryB9i3b-HR_MRk</string>
	<key>GCM_SENDER_ID</key>
	<string>197959764311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-8e754</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-8e754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197959764311:ios:6518bdb04e3c39016cd612</string>
</dict>
</plist>